<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710632497382-urb3d0pbnk2ipfrou50mkdk07rdjipt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710632497382-urb3d0pbnk2ipfrou50mkdk07rdjipt3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>710632497382-v0ta36atnp6angvg9b5ft6e9ncgj0ocr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC657gFElqjNDCXRZXkkVUSum7PysTjNb8</string>
	<key>GCM_SENDER_ID</key>
	<string>710632497382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialImpactMvp</string>
	<key>PROJECT_ID</key>
	<string>social-impact-mvp-prod-b6805</string>
	<key>STORAGE_BUCKET</key>
	<string>social-impact-mvp-prod-b6805.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710632497382:ios:f139bc696b44badff09b27</string>
	<key>DATABASE_URL</key>
	<string>https://social-impact-mvp-prod-b6805-default-rtdb.firebaseio.com</string>
</dict>
</plist>